<!DOCTYPE html>
<html lang="en">
<body>
   <div class="home container-fluid">
        <h5>Find the Therapy you Deserve</h5>
        <!-- Todo: Change the paragraph tag content -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim similique sint sapiente id, aliquid deserunt. Doloribus ut repellat expedita officia officiis cumque similique nisi aperiam vero ratione, odio ea voluptatem! Earum eius voluptatem dolorum.</p>
    </div>
    <div class="image">
        <img src="assets/headphone.png" class="img" alt="headphone">
    </div> 
</body>
</html>



